.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 65px;
    background-color: rgb(192, 192, 192);
    
    
}
.Shop-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-gap:65px;
    grid-row-gap: 40px;
    margin-left: 50px;
    width:260px;
    

}

.select-container{
    background-color: rgb(80, 81, 92); 
    position: relative;
    position: sticky;
    top:0;
}


/* for mobile */
@media only screen and (max-width: 688px) {
    .container{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 65px;
        background-color: rgb(192, 192, 192);
        
    }

    .Shop-container{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        grid-gap:65px;
        grid-row-gap: 40px;
        margin-left: 50px;
        width:260px;
        
    
    }
    .select-container{
        background-color: rgb(80, 81, 92); 
        height: 500px;
    }
   


}
/* for tablet view */
@media only screen and (min-width: 688px) and (max-width: 992px){

    .container{
        display: grid;
        grid-template-columns:1fr;
        grid-gap: 65px;
        background-color: rgb(192, 192, 192);
        
        
    }

    .Shop-container{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        grid-gap:65px;
        grid-row-gap: 40px;
        margin-left: 50px;
        width:260px;
        
    
    }
    .select-container{
        background-color: rgb(80, 81, 92); 
        height: 500px;
        width: 100%;
        
    }
   
}